* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label,
input,
button,
select {
  font-size: 18px;
  color: #474747;
}

input,
textarea {
  width: 50%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #cccccc;
  border-radius: 6px;
}

.plannerListForm form {
  border: 2px solid black;
  padding: 40px;
}